<div class="m-5">
  <h1>My secret APP</h1>

  <hr>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate velit sed illum sit quod, quam iste,
    deleniti eaque nam inventore facere ipsum facilis molestias dicta tempora dolore officia. Consequatur.
    Aspernatur doloremque accusamus, molestiae nostrum tempore esse eum dolorem beatae consequuntur deserunt harum quam
    similique amet cupiditate, excepturi rem aut eius tenetur. Repudiandae commodi officiis excepturi deleniti, nisi cum
    fuga!
  </p>
  <p>
    Possimus totam cupiditate, beatae modi laborum in! Ipsam, dolor atque voluptatibus, rem unde iste adipisci numquam
    minima nisi quae officiis a quam ipsum quas id. Necessitatibus aperiam ab assumenda quo!
    Perspiciatis doloribus maxime voluptates modi inventore ullam facere, reiciendis molestiae rem ea quo voluptate
    numquam ab voluptatibus dolore repellat voluptatem itaque eveniet! Sint id sapiente, rerum quas ab dignissimos
    exercitationem.
  </p>
  <p>
    Consequuntur sequi architecto perspiciatis ab eveniet sint esse aliquid pariatur vitae optio temporibus nisi
    repudiandae est, veniam reiciendis. Sapiente blanditiis earum repellat repellendus error adipisci provident autem
    fugit ea laudantium.
  </p>
  <button class="btn btn-outline-danger" (click)="out()">Log out</button>
</div>